.dropdown-menu {
  right: 0;
  left: auto !important;
}

.product-card-image {
  height: 180px;
  object-fit: cover;
}

.image-gallery {
  display: flex;
  flex-wrap: wrap;
}

.image-item {
  position: relative;
  margin: 10px;
}

.image-actions {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  gap: 5px;
}

.image-actions .btn {
  font-size: 14px;
  padding: 5px;
}

.carousel-item img {
  height: 400px;
  object-fit: cover;
}

@keyframes slide {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  10% {
    transform: translateX(0%);
    opacity: 1;
  }
  90% {
    transform: translateX(0%);
    opacity: 1;
  }
  100% {
    transform: translateX(-100%);
    opacity: 0;
  }
}

.text-animation {
  margin-bottom: 3px;
  color: rgb(232, 17, 53); /* Adjust color as needed */
  font-size: 32px; /* Adjust font size as needed */
  font-weight: bold; /* Make text bold */
  animation: slide 10s cubic-bezier(0.68, -0.55, 0.265, 1.55) infinite;
  white-space: nowrap; /* Prevent text from wrapping */
  overflow: hidden; /* Hide overflow text */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4); /* Add a subtle text shadow */
  background: linear-gradient(
    to right,
    #4e54c8,
    #8f94fb
  ); /* Gradient background */
  -webkit-background-clip: text; /* Clip text to gradient */
  -webkit-text-fill-color: transparent; /* Make text transparent to show gradient */
}

.neumorphic-sidebar {
  background-color: #f0f0f0; /* Light background color */
  border-radius: 15px; /* Rounded corners */
  padding: 15px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.1),
    -5px -5px 15px rgba(255, 255, 255, 0.7); /* Neumorphic shadow */
}

.neumorphic-sidebar hr {
  border-top: 1px solid rgba(0, 0, 0, 0.1); /* Light border for HR */
}

.glassmorphism-sidebar hr {
  border-top-color: rgba(
    255,
    255,
    255,
    0.2
  ); /* Semi-transparent border for HR */
}
